.outro {
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

.outro__icon {
	@include media('medium') {
		width: 95px;
		height: 95px;
		padding: 20px;
	}

	display: block;
	width: 70px;
	height: 70px;
	padding: 15px;
	border-radius: 50%;
	background-color: color('basics-0');

	svg {
		fill: color('basics-3');
	}
}

.outro__title {
	@include media('medium') {
		font-size: titleSize('h0');
	}

	padding-top: gap('small');
	font-family: font('main');
	font-size: titleSize('h2');
	font-weight: 900;
	line-height: 1;
}
