#{$theBody} {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	text-rendering: optimizeLegibility;
	-webkit-text-size-adjust: 100%;
}

#{$theBucket} {
	@include media('medium') {
		line-height: 1.375;
	}

	font-family: font('main');
	font-size: fontSize('medium');
	font-weight: 700;
	line-height: 1.25;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p {
		margin: 0;
		padding: 0;
		font-weight: inherit;
	}

}

.screenReader {
	position: absolute;
	left: -90210px;
}

